<div class="mt-4">
    <h3>Đăng sản phẩm</h3>
    <form method="POST" action="../courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input type="type" class="form-control" id="name" name="name">
        </div>
         <div class="mb-3">
            <label for="des" class="form-label">Mô tả</label>
            <input type="type" class="form-control" id="des" name="des">
        </div>
         <div class="mb-3">
            <label for="videoID" class="form-label">ID video</label>
            <input type="type" class="form-control" id="videoID" name="videoID">
        </div>
         <div class="mb-3">
            <label for="level" class="form-label">Cấp sản phẩm</label>
            <input type="type" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
</div>