<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input" class="form-label">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
        </div>
<br>
        <div class="form-group">
            <label for="gender-input">Từ khóa</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
<br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>